<div class="container">
  <div class="d-flex row">
    <div class="col-lg-9">
      <h3><%= @vet.name %></h3>
      <h5><%= @vet.description %></h5>
    </div>
    <div class="col-lg-3 justify-content-center">
      <h3><%= @vet.price %> $</h3>
      <p>Per minute</p>
      <%= link_to "Request a Call", vets_path, :class => "button_sec" %>
    </div>
  </div>

</div>
