<div class="hero  d-flex align-items-center">
  <div class="container">
    <div class="hero_h">
      <h1 class="hero_h1 col-lg-5">Savjeti iskusnih veterinara kad god trebate.</h1>
    </div>
    <div class="hero_d">
      <div class="hero_dugme" style="margin-bottom:30px;">
        <%= link_to "Pronađi veterinara", vets_path, class: "button_3" %> <br>
      </div>
      <div class="hero_dugme">
        <%= link_to "Ponudi svoje usluge", new_vet_path, class: "button_3_3" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="home_hero justify-content-center">
    <div class="home_hero_title">
      <h1 class="home_title">Kako radimo</h1>
    </div>
    <div class="d-flex row justify-content-center">
      <div class="home_card col-lg-6 col-md-12 col-sm-12">
          <div class="home_card_min">
        <h3>Korak po korak</h3>
        <hr>
        <ol>
            <div class="d-flex row container">
              <div><div class="shape--circle" style="width: 35px;"><div>1</div></div></div>
              <div class="col">
                <li class="home_card_li">Izaberi veterinara</li>
                <p class="home_card_p">Pretražite bazu i pronađite veterinara koji vam najviše odgovara. Moguće je pretražiti prema gradu u kojem veterinar
živi, jeziku koji govori, specijalizaciji, ocjeni prethodnih
korisnika i vrsti životinja koje najčešće liječi.</p>
              </div>
            </div>
             <div class="d-flex row container">
              <div><div class="shape--circle" style="width: 35px;"><div>2</div></div></div>
              <div class="col">
                <li class="home_card_li">Zakaži termin</li>
                <p class="home_card_p">Zakažite termin i način konsultacija s veterinarom – video
poziv, chat, stručno mišljenje. Svi savjeti se naplaćuju
unaprijed na bazi slotova od 15 minuta. Nakon isteka 15
minuta, možete produžiti za narednih 15 minuta.</p>
              </div>
            </div>
             <div class="d-flex row container">
              <div><div class="shape--circle" style="width: 35px;"><div>3</div></div></div>
              <div class="col">
                <li class="home_card_li">Poveži se sa veterinarom</li>
                <p class="home_card_p">Nakon što vam termin bude potvrđen, priključite se na
platformu i obavite konsultacije.</p>
              </div>
            </div>
             <div class="d-flex row container">
              <div><div class="shape--circle" style="width: 35px;"><div>4</div></div></div>
              <div class="col">
                <li class="home_card_li">Ocjena i preporuka</li>
                <p class="home_card_p">Nakon što okončate konsultacije, molimo vas da ocijenite
rad veterinara i napišete preporuku. Ocjena i vaša preporuka će
pomoći budućim korisnicima platforme da odaberu najbolje
veterinare koji će pomoći njihovim ljubimcima.</p>
              </div>
            </div>
        </ol>
          </div>
          <div class="how_button">
            <a href="/vets" class="button_sec">Izaberi svog veterinara</a>
          </div>
      </div>
      <div class="home_card col-lg-6 col-md-12 col-sm-12">
        <div class="home_card_min">
          <h3>Pretraga prema specijalizaciji</h3>
          <hr>
          <div class="d-flex row" style="margin: 0px 0px;">
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Psi</a></div>
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Macke</a></div>
          </div>
           <div class="d-flex row" style="margin: 0px 0px;">
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Majmuni</a></div>
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Ribe</a></div>
          </div>
           <div class="d-flex row" style="margin: 0px 0px;">
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Medvjedi</a></div>
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Lavovi</a></div>
          </div>
           <div class="d-flex row" style="margin: 0px 0px;">
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Misevi</a></div>
            <div class="col-lg-6 col-md-6 col-sm-6"><a href="#" class="link_card">Magarci</a></div>
          </div>

        </div>
        <div class="how_button">
            <a href="/vets" class="button_sec">Izaberi specijalizaciju</a>
          </div>
      </div>
      <div class="home_card col-lg-6 col-md-12 col-sm-12">
        <div class="home_card_min" style="min-height: 200px;">
          <h3>Jeste li veterinar?</h3>
          <hr>
          <p class="home_card_p">Priključite se zajednici stručnjaka, ponudite svoju ekspertizu i vrijedne savjete koji će riješiti probleme kućnih
ljubimaca ili im pomoći da budu u najboljoj formi.</p>
        </div>
        <div class="how_button">
            <a href="vets/new" class="button_sec">Postani ekspert</a>
          </div>
      </div>
    </div>
  </div>

</div>
